@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body{
    margin-left: 80px !important;
    margin-top: 80px !important;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
    font-family: 'Alkatra', sans-serif !important;
}

main{
    padding: 20px !important;
}

header{
    width: 100% !important;
    height: 80px !important;
    background: #f5f5f5;
    display: flex !important;
    align-items: center;
    position: fixed !important;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute !important;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #33A8FF;
    position: fixed !important;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #33A8FF;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none !important;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}


.name__page{
    padding: 20px 30px;
    display: flex !important;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute !important;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative !important;
    transition: color 300ms;
    text-decoration: none;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative !important;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}
  
.box:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}

.card-header{
    background-image: linear-gradient(#33A8FF,#33FF8A ) !important;
}
  

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px !important;
}

.menu__side_move{
    width: 250px !important;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px !important;
    }

    .menu__side_move{
        width: 80px !important;
        left: -80px !important;
    }
}